<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col-phone mdl-cell--3-col'>
    {{view 'sections/buttons'}}
  </div>
  <div class='mdl-cell mdl-cell--12-col-phone mdl-cell--3-col'>
    {{view 'sections/text'}}
  </div>
  <div class='mdl-cell mdl-cell--12-col-phone mdl-cell--3-col'>
    {{view 'sections/toggles'}}
  </div>
  <div class='mdl-cell mdl-cell--12-col-phone mdl-cell--3-col'>
    <div class='mdl-grid'>
      <div class='mdl-cell mdl-cell--12-col'>
        {{view 'components/card/main' data=card}}
      </div>
    </div>
    <div class='mdl-grid'>
      <div class='mdl-cell mdl-cell--12-col'>
        {{view 'components/card/simple' data=simple_card}}
      </div>
    </div>
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--12-col-phone mdl-cell--3-col'>
    {{view 'sections/sliders'}}
  </div>
  <div class='mdl-cell mdl-cell--12-col-phone mdl-cell--3-col'>
    {{view 'sections/lists'}}
  </div>
  <div class='mdl-cell mdl-cell--12-col-phone mdl-cell--6-col'>
    {{view 'sections/tables'}}
  </div>

</div>
