<label class='mdl-button mdl-js-button mdl-button--icon' for='{{display.id}}'>
  <i class='material-icons'>{{display.icon}}</i>
</label>
<div class='mdl-textfield__expandable-holder'>
  <input class='mdl-textfield__input' type='text' id='{{display.id}}' value='{{display.value}}'>
  <label class='mdl-textfield__label' for='{{display.id}}'>
    {{display.label}}
  </label>
</div>
