<h5>
  Text Inputs
</h5>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--3-col'>
    {{view 'components/text/input' data=components.input_one}}
  </div>
  <div class='mdl-cell mdl-cell--3-col'>
    {{view 'components/text/input' data=components.input_two}}
  </div>
  <div class='mdl-cell mdl-cell--3-col'>
    {{view 'components/text/input' data=components.input_three}}
  </div>
  <div class='mdl-cell mdl-cell--3-col'>
    {{view 'components/text/area' data=components.input_four}}
  </div>
</div>
<div class='mdl-grid'>
  <div class='mdl-cell mdl-cell--3-col'>
    {{view 'components/text/expandable' data=components.expand_one}}
  </div>
  <div class='mdl-cell mdl-cell--3-col'>
    {{view 'components/text/expandable' data=components.expand_two}}
  </div>
</div>
